*{
    margin: 0;
    padding: 0;
}
body{
    font-family: Open sans "san serif";
    background: black;
    color: white;
}
.title-head
{
    font-size: 40px;
    color: white;
    text-align: center;
}
input[type="number"]{
    display: block;
    width: 350px;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 30px;
    height: 30px;
}
.wrapper{
    display: block;
    margin-top: 3em;
    margin: auto;
    width: 370px;
    height: 500px;
}
.pounds{
    background: red;
    text-align: center;
    padding: 1em;
    margin-top: 1em;
}
.gram{
    background: green;
    text-align: center;
    padding: 1em;
    margin-top: 1em;
}
.ounce{
    background: blue;
    text-align: center;
    padding: 1em;
    margin-top: 1em;
}
.nota{
    text-align: center;
    text-decoration: red;
}